<div class="right-nav-container">
    <div class="search-container"><span class="search-text">Search for: </span><span><input type="text" placeholder="Search.."></span></div>
    <button class="search-button">Search</button>
    <div>
        <h4 class="right-nav-group-title">Recent Posts</h4>
        <ul class="right-nav-group">
            <li class="right-nav-group-item" *ngFor="let post of postList | slice:0:5" (click)="navigateToPostDetails(post)">
                <a>{{post.title.rendered}}</a>
            </li>
        </ul>
    </div>
    <div>
        <h4 class="right-nav-group-title">Recent Comments</h4>
        <ul class="right-nav-group">
            <li class="right-nav-group-item" *ngFor="let data of commentsArray | slice:0:5">
                {{data.author_name}} on <a>{{data.title}}</a>
            </li>
        </ul>
    </div>
    <div>
        <h4 class="right-nav-group-title">Archives</h4>
        <ul class="right-nav-group">
            <li class="right-nav-group-item" *ngFor="let monthAndYear of archivesArray">
                <a (click)="showArchieves(monthAndYear)">{{monthAndYear}}</a>
            </li>
        </ul>
    </div>
    <div>
        <h4 class="right-nav-group-title">Categories</h4>
        <ul class="right-nav-group">
            <li class="right-nav-group-item" *ngFor="let category of categoriesArray" (click)="showUrlInWindow(category.link)"><a>{{category.name}}</a></li>
        </ul>
    </div>
</div>