.post-card {
    margin: 30px 60px;
}

/*.post-list-container{
    width: 75%;
    display: inline-block;
}*/

.post-title {
    font-size: 4.21429rem;
    color: #ff757c;
    font-weight: 700;
}

.post-content {
    color: #0e7886;
}

.posts {
    display: inline-flex;
}

.right-nav-container {
    width: 25%;
}
.app-container {
    margin-top: 100px;
}
