<div *ngIf="!isLoading" class="posts">
    <div class="post-list-container">
        <div *ngFor="let post of postList" class="post-card">
            <img [src]="post._embedded['wp:featuredmedia'][0].source_url" />
            <h1 class="post-title" (click)="navigateToPostDetails(post)">
                {{post.title.rendered}}
            </h1>
            <div>Posted on {{post.formattedDate}} by {{post._embedded.author[0].name}}</div>
            <div class="post-content" [innerHTML]="post.content.rendered">
            </div>
            <div>Posted in <a (click)="showUrlInWindow(post._embedded['wp:term'][0][0].link)">{{post._embedded['wp:term'][0][0].name}}</a></div>

        </div>
    </div>
    <app-side-nav></app-side-nav>
</div>
<ion-progress-bar *ngIf="isLoading" class="loader" type="indeterminate"></ion-progress-bar>