<div class="posts">
    <div class="post-list-container">
        <div *ngFor="let post of postList" class="post-card">
            <img [src]="post._embedded['wp:featuredmedia'][0].source_url" />
            <h1 class="post-title" (click)="navigateToPostDetails(post)">
                {{post.title.rendered}}
            </h1>
            <div>Posted on {{post.formattedDate}} by {{post._embedded.author[0].name}}</div>
            <div class="post-content" [innerHTML]="post.content.rendered">
            </div>
            <div>Posted in <a (click)="showUrlInWindow(post._embedded['wp:term'][0][0].link)">{{post._embedded['wp:term'][0][0].name}}</a></div>

        </div>
    </div>
    <app-side-nav></app-side-nav>

    <!--<div class="right-nav-container">
        Search for: <ion-searchbar showCancelButton="focus"></ion-searchbar>
        <ion-button expand="full">Search</ion-button>
        <div>
            Recent Posts
            <ul>
                <li *ngFor="let post of postList | slice:0:5">{{post.title.rendered}}</li>
            </ul>
        </div>
        <div>
            Recent Comments
            <ul>
                <li *ngFor="let data of commentsArray |slice:0:5">
                    {{data.author_name}} on {{data.title}}
                </li>
            </ul>
        </div>
        <div>
            Archives
            <ul>
                <li *ngFor="let monthAndYear of archivesArray">
                    {{monthAndYear}}
                </li>
            </ul>
        </div>
        <div>
            Categories
            <ul>
                <li *ngFor="let category of categoriesArray">{{category}}</li>
            </ul>
        </div>
    </div>-->
</div>